.tenets {
  padding: 49px 42px 48px 48px;
  border-radius: 20px;
  border: solid 4px $accent-color;

  @media (max-width: $mobile-max) {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    padding: 0;
    max-width: 100vw;
    margin: 40px 0 20px;
  }

  &__header {
    margin: 0 0 20px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1.6px;
    text-align: center;
    color: $text-color-secondary;

    @media (max-width: $mobile-max) {
      max-width: 315px;
      letter-spacing: 3px;
    }
  }

  &__list {
    font-family: $secondary-font-family;
    font-size: 20px;
    line-height: 1.8;
    max-width: 100vw;
  }

  &__list-item {
    display: grid;
    grid-template-columns: 0 1fr;
    grid-gap: 55px;
    align-items: baseline;

    @media (max-width: $mobile-max) {
      display: block;
      font-size: 22px;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.8;
      letter-spacing: normal;
      text-align: center;
      margin: 0 0 16px;
    }
  }

  &__list-item-number {
    font-family: $primary-font-family;
    color: $text-color-secondary;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;

    &:after {
      content: "."
    }

    @media (max-width: $mobile-max) {
      font-size: 48px;
      font-weight: bold;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $grey-02;

      &:after {
        content: ""
      }
    }
  }
}
