$primary-font-family: "adobe-garamond-pro", serif;
$secondary-font-family: "adobe-garamond-pro", serif;

$primary-color: #f4f7fb;
$accent-color: rgba(24, 27, 41, 0.06);
$text-color-primary: #181b29;
$text-color-secondary: rgba(24, 27, 41, 0.5);
$text-color-accent: rgba(24, 27, 41, 0.3);
$grey-02: rgba(24, 27, 41, 0.2);
$text-color-accent-secondary: rgba(24, 27, 41, 0.1);
$text-color-link: #3f64ed;

// Screen sizes
$huge-screen: 2001px;
$max-content-width: 1920px;
$desktop-wide: 1429px;
$desktop-min: 1330px;
$tablet-max: 1329px;
$tablet-mid: 1120px;
$desktop-header-min: 890px;
$tablet-min: 768px;
$mobile-max: 767px;
$wide-mobile-max: 664px;
$wide-mobile-min: 663px;
$small-mobile-max: 450px;
$small-mobile-min: 360px;
