<footer id="footer" class="footer">
  <h3 class="footer__header">
    honest.security
  </h3>
  <div class="footer__content">
    <a href="https://kolide.com/privacy-policy" target="_blank">Privacy Policy</a>
    <br />
    <a href="https://github.com/kolide/honest.security" target="_blank">Source Code</a>
    <br />
    Last Updated: {{ .Lastmod.Format "January 2, 2006" }}
    <br />
    <span class="footer__copyright">
      Written By Jason Meller. Copyright ©2022 {{ .Site.Params.copyright }}. All rights reserved
    </span>
  </div>
</footer>
