<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ with .Site.Params.description -}}
    <meta name="description" content="{{ . }}">
    {{ end }}
    {{ printf `<link rel="shortcut icon" href="%s">` ("favicon.ico" | absURL) | safeHTML }}
    <link rel="stylesheet" href="https://use.typekit.net/feo7qjx.css">
    {{ $options := (dict "outputStyle" "compressed") }}
    {{ $stylesheet := resources.Get "scss/main.scss" | css.Sass $options }}
    {{ $normalize := resources.Get "css/normalize.css" }}
    {{ $styles := slice $stylesheet $normalize | resources.Concat "main.css" | resources.Minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}">
    {{ $built := resources.Get "js/index.js" | js.Build "main.js" }}
    {{ $stimulusjs := resources.Get "js/vendor/stimulus.umd.js" }}
    {{ $js := slice $stimulusjs $built | resources.Concat "main.js" | resources.Minify | fingerprint }}
    <script type="text/javascript" src="{{ $js.RelPermalink }}" defer></script>
    <script defer data-domain="honest.security" src="https://plausible.io/js/plausible.js"></script>
    <title>{{ .Title }}</title>
</head>
